@using InterviewTask.Core.Models
@model HomepageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Answer the questions, but first enter your login</p>
    </div>
</div>

<div class="row mb-5">
    <input type="text" id="LoginInput" />
</div>
<div class="row">
    @if (Model != null && Model.Questions != null && Model.Questions.Count > 0)
    {
        foreach (Question singleQuestion in Model.Questions)
        {
            <div class="col-4 border QuestionField" data-id="@singleQuestion.ID">
                <p>@singleQuestion.QuestionContent</p>

            </div>
        }
    }
</div>
